# See https://prek.j178.dev/
repos:

  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.76.4
    hooks:
      - id: renovate-config-validator
